#form_container{
  margin: 0 auto;
  text-align:center;
  background-color:yellowgreen;
  width: 100vw;
  height: 100vh;
  
}

.error{
  color:red;
}

.info{
  color:yellow;
}

li {
  list-style-type: none;
}