
{% extends "base.html" %}
{% block title %}
Enter the resource details below
{% endblock %}
{% block content %}
{% if session.username %}
<div id="form_container">
    <form action="/form" method="post">
            <p style="font-weight: bold">Name: {{name}} </p>
            <p style="font-weight: bold">Location: {{location}} </p>
            <p style="font-weight: bold">Resource:
            <select name="resource" method="GET" action="/form">
                <option value="{{resources[0]}}" selected>{{resources[0]}}</option>
                {% for resource in resources[1:] %}
                <option value="{{resource}}">{{resource}}</option>
                {% endfor %}
            </select>
            </p>
            <p style="font-weight: bold">
            Priority:
            <select name="alert" method="GET" action="/form">
                <option value="{{alerts[0]}}" selected>{{alerts[0]}}</option>
                {% for alert in alerts[1:] %}
                <option value="{{alert}}">{{alert}}</option>
                {% endfor %}
            </select>
            </p>

            <input type="submit" style="background-color: #4CAF50;">
    </form>
</div>
{% endif %}
{% endblock %}


