<!-- Form page -->

<!-- {% extends "base.html" %}
{% block title %}
Random Cat Posters
{% endblock %}
{% block content %}
{% if session.username %}
<form action="/save-favorite" method="post">
    <input type="hidden" name="url" value="{{ url }}">
    <input type="hidden" name="quote" value="{{ quote }}">
    <button type="submit">Save to favorites</button>
</form>
{% endif %}
<form action="/" method="get">
    <button type="submit">Get another</button>
</form>
<div class="poster">
    <img class="catpic" src="{{ url }}" alt="Random cat">
    <div class="quote">{{ quote }}</div>
</div>
{% endblock %} -->

!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Enter the form details</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
    <form action="/form" method="post">
        Name: {{name}}
        Location: {{location}} 
        
        <select name="resource" method="GET" action="/form">
            <option value="{{resources[0]}}" selected>{{resources[0]}}</option>
            {% for resource in resources[1:] %}
              <option value="{{resource}}">{{resource}}</option>
            {% endfor %}
        </select>

        <select name="alert" method="GET" action="/form">
            <option value="{{alerts[0]}}" selected>{{alerts[0]}}</option>
            {% for alert in alerts[1:] %}
              <option value="{{alert}}">{{alert}}</option>
            {% endfor %}
        </select>
        
        <input type="submit">
    </form>
</body>
</html>


