{% extends "base.html" %}
{% block title %}
Register an account
{% endblock %}
{% block content %}
<form action="/register" method="post">
   
    <p>Username        : <input type="text" name="username" required></p>
    <p>Password        : <input type="password" name="password" required></p>
    <p>Shelter Location: <input type="text" name="location" required></p>
    <p>Shelter Name    : <input type="text" name="name" required></p>

    <p><input type="submit" style="background-color: green;"></p>
{% endblock %}
